<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">

	<head>
		<meta charset="UTF-8"/>
		  <title><%= title %> </title>
		<meta name="author" content="A MODIFIER"/>
		<meta name="keywords" content="A COMPLETER"/>
		<script src="./javascripts/bundle.js" type="module"></script>
	</head>

	<body>
    <h1>Abdoul Matine client</h1>
		<button type="button" name="button">Accepter</button>
	

    <div id="clients">


		 </div>

	</body>

</html>
