<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">

	<head>
		<meta charset="UTF-8"/>
			<title>Projet Mongo React </title>
		<meta name="author" content="Diallo Abdoul Matine et Diallo Aissatou Lamarana"/>
		<meta name="React MONGODB" content="A COMPLETER"/>
		<script src="./javascripts/bundle.js" type="module"></script>

		</script>
		<link rel="stylesheet" href="./stylesheets/style.css">
	</head>

	<body>
    <h1>PROJET MONGODB REACT</h1>
		<div id="client">Clients</div>
		<div id="data">Data</div>


		<div id="datas">

		</div>

		<div id="grapheContenaire" hidden>
			<canvas id="graphe"></canvas>
		</div>

	</body>

</html>
