<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">

	<head>
		<meta charset="UTF-8"/>
		<title>Accueil du jeu</title>
		<meta name="author" content="A MODIFIER"/>
		<meta name="keywords" content="A COMPLETER"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css" title="starship style"/>

	</head>

	<body>
		<div id="container">
		<h1>Le jeu Pong</h1>
		<p> Vous aurez l'occasion de jouer à la version simplifiée du jeu de <strong>Pong</strong>.</p>
		<p> Cette version vous offre la possibilté de jouer à 2, donc contre un adversaire</p>
		<div id="body">
			<a href="/about" title="a-propos"> A propos </a>
			<a href="/rules" title="les règles du jeu"> Règles </a>
			<a href="/play" title="jouer au jeu"> Jouer </a>
		</div>
	</div>

	</body>

</html>
