<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">

	<head>
		<meta charset="UTF-8"/>
		<title>regles du jeu</title>
		<meta name="author" content="A MODIFIER"/>
		<meta name="keywords" content="A COMPLETER"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css" title="starship style"/>
	</head>

	<body>
		<div id="container">
		<h1>Le jeu Pong</h1>
		<div id="body">
			<a href="/" title="accueil"> Accueil </a>
			<a href="/about" title="a-propos"> A propos </a>
			<a href="/play" title="jouer au jeu"> Jouer </a>
		</div>
		<h2> Les règles </h2>
		<p> Les deux premiers joueurs voit apparaître un terrain de jeu avec les deux raquettes sur la gauche et la droite.
		<br>Chaque joueur contrôle la raquette située sur la gauche de son écran à l'aide des touches flèche haut et flèche bas
		<br> Le premier joueur peut démarrer les échanges en "lançant la balle" par appui sur la barre espace.
		<br> Les joueurs doivent intercepter la balle en déplaçant leur raquette,
		lorsque la balle touche une raquette elle est renvoyée vers l'autre joueur avec un angle adapté.
		<br> Si un joueur ne parvient pas à intercepter la balle,
		 celle-ci s'arrête sur les limites de terrain derrière lui,
		 l'autre joueur a alors marqué un but,
		 le premier joueur peut relancer une nouvelle balle pour poursuivre la partie.
		<br> Le jeu s'arrête lorsque l'un des joueur marque un but. </p>
	</div>

	</body>

</html>
